<style>
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
  * {
    font-Family: 'Roboto Condensed', Sans-Serif;

    font-family: 'Plus Jakarta Sans', Serif;
  }

  .dropdown-item:active, .dropdown-item:focus{
    background-color: rgb(233, 233, 233)  !important; 
  }

  .logout:hover{
    background-color: #950101 !important;
    color: white;
  }

  .form-control:focus, .form-control:active {
    border-color: rgb(233, 233, 233) !important;
    box-shadow: 0 0 0 0.2rem rgb(233, 233, 233) !important;
  }

  .form-control:focus, .form-control:active {
    border-color: rgb(233, 233, 233) !important;
    box-shadow: 0 0 0 0.2rem rgb(233, 233, 233) !important;
  }

  .input-group input, .input-group input:active, .input-group input:focus {
    box-shadow: none !important;
  }

  .btn-search{
    outline: none;
    background-color:  rgb(190, 190, 190);
    color: white;
    margin: auto;
    transition: all 0.5s;
  }

  .btn-search:hover{
    background: white;
    color: grey;
    border: 1px solid;
  }

  .btn {
    text-align: center !important;
  }
  
</style>
<nav class="navbar navbar-expand-lg bg-white navbar-light py-3 sticky-top shadow">
  <div class="container">
    
    <a href="/" class="mr-auto d-flex"><img src="../images/logo.jpg"></a>

    <button
      class="navbar-toggler ms-auto me-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if(sessione.loggedin == true){ %>
      <div class="dropdown text-end nav-item login">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../images/<%= sessione.profile_image %>" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="/profile">Profile</a></li>
            <li><a class="dropdown-item" href="/upload">Upload photo</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item logout" href="/logout">Log out</a></li>
          </ul>
      </div>
  <% } else { %>
    <div class="nav-item login">
      <ul class="nav navbar-nav">
        <li class="nav-item">
            <a href="/login" class="nav-link">Login</a>
        </li>
      </ul>
    </div>
  <% } %>

    <div class="navbar-collapse collapse" id="navmenu">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/filter/animal">Animal</a></li>
            <li><a class="dropdown-item" href="/filter/b&w">B&W</a></li>
            <li><a class="dropdown-item" href="/filter/food">Food</a></li>
            <li><a class="dropdown-item" href="/filter/landscape">Landscape</a></li>
            <li><a class="dropdown-item" href="/filter/macro">Macro</a></li>
            <li><a class="dropdown-item" href="/filter/portrait">Portrait</a></li>
            <li><a class="dropdown-item" href="/filter/sport">Sport</a></li>
            <li><a class="dropdown-item" href="/filter/street">Street</a></li>
        </ul>
        <li class="nav-item">
          <a href="/aboutus" class="nav-link">About us</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto me-2">
        <li>
          <form class="search" action="/searchUser" method="POST">
            <div class="input-group">
              <input name="user_search" type="search" class="form-control" placeholder="Search user" aria-label="Search user" aria-describedby="basic-addon1">
              <button type="submit" class="btn btn-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search mb-1" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                </svg>
              </button>
            </div>
          </form>
        </li>
    </ul>
    </div>
  </div>
</nav>

<a href="#" class="bck"></a>