@media (min-width:992px){
    .round-pic {
        max-width: 35vh;
    }
}

@media (max-width:992px) {
    .round-pic {
        max-width: 25vh;
    }
}

@media (min-width: 1399px) {
    p {
        padding: 0vh 30vh 0vh ;
    }

}
.round-pic{
    border-radius: 100%;
    padding: 12px;
    margin: 40px;
}

/* text header user info*/
.name {
    margin: 0;
    min-width: 0;
}

.name-text {
    line-height: 1.25;
    font-size: 24px;
    font-weight: bold;
}
.username-text {
    font-size: 100%;
    padding-bottom: 8px;
    line-height: 1; 
}

.title {
    font-weight: 100;
    font-variant: small-caps;
}

p {
    text-justify:distribute-all-lines;
    padding-top: 2vh;
}