.link_user {
    color: black;
    font-size: x-large;    
}

.link_user:hover {
    color: grey;
}

.field {
    font-variant: small-caps;
    font-size: x-large;
}

.left {
    text-align: end;
    font-size: large;
    vertical-align:middle;
}

/* ---- IMG DESIGN ---- */
.center{
    justify-content: center;
    align-items: center;
}

@media(min-width: 992px) {
    .center{
      height: 91vh;
    }
}

@media(max-width: 992px){
    .center{
        padding-top: 2vh;
    }
}

#image{
    object-fit: contain;
    display: flex;
}

.center_img {
    object-fit: contain;
    width: 100%;
    max-height: 80vh;
}
