@media screen and (min-width: 768px){
    .name {
        text-align: left;
    }
}
/* profile pic style*/
.round-pic{
    border-radius: 100%;
    padding: 12px;
    margin: 40px;
    min-width: 150px;
    max-width: 200px;
    height: auto;
}

/* text header user info*/
.name {
    margin: 0;
    min-width: 0;
}

.name-text {
    line-height: 1.25;
    font-size: 24px;
    font-weight: bold;
}
.username-text {
    font-size: 100%;
    padding-bottom: 8px;
    line-height: 1; 
}

/* ---- MODAL STYLE ---- */
.form_label {
    font-size: small;
    font-weight: 600;
    color: rgb(59, 59, 59);
    padding-left: 0.1em;
} 

.form-control:focus, .form-control:active {
    border-color: rgb(233, 233, 233) ;
    box-shadow: 0 0 0 0.2rem rgb(233, 233, 233);
}

.form-margin{
    margin-top: -1vh;
}

/* ---- BUTTONS STYLE ----*/

.btn-black{
    border: 1px solid;
    outline: none;
    background-color: black ; 
    color: white;
    border-radius: 4px;
    font-size: small;
    font-weight: bold;
    line-height: 1.5rem;
    transition: all 0.5s;
}

.btn-black:hover{
    background: white;
    border: 1px solid;
    color: black;
}

.btn-grey{
    border: 1px solid;
    outline: none;
    background-color: grey;
    color: white;
    border-radius: 4px;
    font-size: small;
    font-weight: bold;
    line-height: 1.5rem;
    transition: all 0.5s;
}

.btn-grey:hover{
    background: white;
    border: 1px solid;
    color: grey;
}

.btn {
    text-align: center;
}

.btn:focus, .btn:active, .btn-close:focus, .btn-close:active {
    outline: none;
    box-shadow: none;
}

.btn-edit{
    outline: none;
    background-color:  black;
    color: white;
    margin: auto;
    font-size: small;
    font-weight: bold;
    line-height: 1.5rem;
    transition: all 0.5s;
}

.btn-edit:hover{
    background: white;
    color: black;
    border: 1px solid;
    border-color: rgb(190, 190, 190);
}

.btn-red {
    border: 1px solid;
    outline: none;
    background-color: rgba(253, 72, 17, 0.885);
    color: white;
    border-radius: 4px;
    line-height: 1.5rem;
    transition: all 0.5s;
    font-size: small;
    font-weight: bold;
}

.btn-red:hover {
    background: white;
    color: rgba(253, 72, 17, 0.885);
    border: 1px solid;
}
.round-pic-modal{
    border-radius: 100%;
    min-width: 150px;
    max-width: 200px;
    height: auto;
}
