body {
    font-family: "Lato", sans-serif;
}

@media screen and (max-width: 450px) {
    .profile-info{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }
    .profile-info{
        margin-top: 80%;
    }
}

.btn-black{
    border: 1px solid;
    outline: none;
    background-color: black !important; 
    color: white !important;
    border-radius: 4px;
    font-weight: bold !important;
}

.btn-black:hover{
    background-color: white !important;
    border-color: black !important;
    border: 1px solid;
    color: black !important;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

.btn-grey{
    border: 1px solid;
    outline: none;
    background-color: grey !important;
    color: white !important;
    border-radius: 4px;
    font-weight: bold !important;
}

.btn-grey:hover{
    background: white !important;
    border: 1px solid;
    color: grey !important;
}

.profile_pic{
  width: 50%;
}

.btn_profile{
  width: 25%;
}

.btn_psw{
    border: 1px solid;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: grey !important;
    color: white !important;
    border-radius: 0.25rem;
    font-weight: bold !important;
}

.btn_psw:hover{
    background: white !important;
    border: 1px solid;
    color: grey !important;
}

.logo{
    border-radius: 0.25rem;
    width: 100%;
}

.form-control:focus, .form-control:active {
    border-color: rgb(233, 233, 233) !important;
    box-shadow: 0 0 0 0.2rem rgb(233, 233, 233) !important;
  }
